//colors
$bg-clr: #f2f1e5;
$title-clr: #544a45;
$black-clr: #2b2927;
$white-clr: #ffffff;
$yellow-clr: #fbe8a6;

//fonts
$main-font: "Roboto", sans-serif;
$title-font: "Roboto Slab", serif;

//layout
$main-width: 1200px;
