@import "../sass/vars";

.task {
  &__container {
    width: 100%;
    background-color: $yellow-clr;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    cursor: pointer;

    & > button {
      all: unset;
      cursor: pointer;

      &:hover {
        & > svg {
          color: rgb(231, 64, 64);
        }
      }

      & > svg {
        width: 22px;
        height: 22px;
        color: $title-clr;
      }
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
    height: auto;

    & > h2 {
      font-size: 18px;
      font-weight: 800;
      font-family: $title-font;
      letter-spacing: 1px;
    }

    & > p {
      font-size: 16px;
      font-weight: 400;
      width: 100%;
    }
  }
}
